[user]
	email = ilho.song@siemens.com
	name = Ilho Song
[url "ssh://git@code.siemens.com/"]
    insteadOf = https://code.siemens.com/
[push]
	default = simple
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
